#react{
    position: absolute;
    width: 100%;
    height:100%;
}
.disk{
    height:100%;
    background: #eee;
}

.disk>.container{
    // padding:20px;
    padding-top:80px;
    background: white;
}